// // Specific CSS for your home-page
// body {
//   background-image: url(jess-bailey-mexeVPlTB6k-unsplash.jpg);
//   height: 100vh;
//   background-position: center; /* Center the image */
//   background-repeat: no-repeat; /* Do not repeat the image */
//   background-size: cover;
// }

.button-width {
  width: 200px;
}

.buttons {
  border-radius: 20px;
  background-color: #afe7ae;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  color: white;
}

.text-home {
  text-align: center;
  margin: -8px;
  width: 50%;
}

.join-text {
  font-size: 12px;
  margin-bottom: -0px;
  margin-left: -110px;
}

.login-buttons {
  margin-top: -16px;
  width: 187px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.login-button{
  width: 187px;
  font-weight: bold;
  background-color: #26547C;
}

.signup-button {
  width: 187px;
  border: 1px solid #26547C;
  background-color: white;
  color: #26547C;
  font-weight: bold;
}