<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="display: flex; justify-content: space-between;">
  <div>
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "smart_calendar.png", style:"width: 100px;" %>
    <% end %>
  </div>

  <div>
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <i class="profile_icon fas fa-user-circle" style="font-size: 35px; color: white; text-shadow: 1px 1px rgba(0, 0, 0, 0.1)"></i>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
