<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="display: flex; justify-content: space-between;">
  <div>
    <%= link_to daily_path, class: "navbar-brand" do %>
      <%= image_tag "smart_calendar.png", style:"width: 100px;" %>
    <% end %>
  </div>

  <div>
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="sign-out-icon fas fa-sign-out-alt"></i>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
