<div class="container">

    <% @events.each do |event| %>
        <%= link_to event_path(event) do %>
              <h1><%= event.name %></h1>
        <% end %>
      <% end %>

      <%= link_to "new", new_event_path  %>
</div>


