<!-- <h1>Pages#home</h1> -->

<!-- <button class="button"><span>SIGN-UP </span></button> -->
<div class="container d-flex flex-column justify-content-center align-items-center mt-5 main">

    <!-- <h1>SmartCal</h1> -->
    <div class="main-heading text-center "><h1><strong> The best calendar app for life & work.</strong></h1></div>
        <div class="text d-flex justify-content-center"><h3 class="font-italic text-center  ">" Control your day, week and month with calendar events in a single view. It's the best way to manage your time and achieve your ambitious goals. "</h3></div>
      <div class="button-width"><%= link_to "SIGN-IN", new_user_session_path ,class: "btn  btn-sm btn-block buttons mt-3 mb-3"%></div>
      <div class="button-width"><%= link_to "SIGN-UP", new_registration_path(:user),class: "btn btn-sm btn-block buttons mb-5 " %></div>
      <%= image_tag "smart_cal.png", style:"width: 140px;" %>

</div>
<!-- <button class="button"><span>SIGN-IN</span></button> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
