<!-- <h1>Pages#home</h1> -->

<!-- <button class="button"><span>SIGN-UP </span></button> -->
<div class="container d-flex flex-column justify-content-center align-items-center mt-5 main">

    <!-- <h1>SmartCal</h1> -->
  <div class="main-heading text-center mb-5" style="width: 70%; font-size: 20px;"><h1><strong>Smart Calendar</strong></h1></div>
  <p class="join-text" >Join today!</p>
  <div class="login-buttons" >
    <div class="button-width"><%= link_to "SIGN-IN", new_user_session_path ,class: "btn  btn-sm btn-block buttons mt-3 mb-3 login-button"%></div>
    <div class="button-width"><%= link_to "SIGN-UP", new_registration_path(:user),class: "btn btn-sm btn-block buttons mb-5 signup-button" %></div>
  </div>
  <div class="text-home d-flex justify-content-center">Find your place, <br> Find your time!</div>
</div>
<!-- <button class="button"><span>SIGN-IN</span></button> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
