.form_event_button {
  width: 10%;
  height: 40px;
  border-radius: 12px;
  color: white;
  margin-top: 8px;
  background-color: #AFE7AE;
  padding-top: 7px;
}

.hide-button {
  border-radius: 12px;
  background-color: white;
  color: #707070;
  margin-top: 32px;
  opacity: 0.5;
}

.hide-button:hover {
  border-radius: 12px;
  background-color: white;
  color: #707070;
  margin-top: 32px;
  opacity: 0.5;
}

.middle-button{
  text-align: center;
  margin-top: 16px;
}
