.time {
  display: flex;
  flex-direction: column;
}

.times {
  text-align: center;
  display: flex;
  height: 2400px;
  position: relative;
  margin-bottom: -0px;
}

.event {
  border: 1px solid black;
  background-color: green;
  display: inline-block;
  position: absolute;
  right: 0;
  width: 80%;
}

.travel_time {
  border: 1px solid black;
  background-color: blue;
  display: inline-block;
  position: absolute;
  right: 0;
  width: 80%!important;
}

#daily-card {
  display: flex;
  justify-content: space-evenly;
}

.simple-calendar {
  width: 95%;
  margin-bottom: 32px;
}

.times-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -12px 0;
}

p {
  margin-bottom: 0;
}

.events-container {
  margin-top: 50px;
}

.simple-calendar td {
  padding: 16px 4px!important;
}
