#daily-card {
  display: flex;
  justify-content: space-evenly;
}

.simple-calendar {
  width: 95%;
  margin-bottom: -10%;
}

p {
  margin-bottom: 0;
}

.simple-calendar td {
  padding: 16px 4px!important;
}

.time {
  display: flex;
  flex-direction: column;
}

.times {
  text-align: center;
  display: flex;
  height: 4800px;
  position: relative;
  margin-bottom: -0px;
}

.times-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -12px 0;
}

