.event {
  position: absolute;
  right: 0;
  width: 80%;
  border-radius: 0 0 14px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  h4 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    margin: 0 16px;
  } p {
    font-family: 'Hind', sans-serif;
    margin: 0 16px;
  }
}

.travel_time {
  background-color: rgb(88, 196, 129);
  position: absolute;
  right: 0;
  width: 80%!important;
  border-radius: 14px 14px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.events-container {
  margin-top: 50px;
}

.green-event {
  background-color: #70c1b4d2;
}

.green-travel {
  background-color: #33ac98cc;
}

.red-event {
  background-color: #ef476ec2;
}

.red-travel {
  background-color: #e4758fcc;
}

.orange-event {
  background-color: #247ba0be;
}

.orange-travel {
  background-color: #4598bbcc;
}

.blue-event {
  background-color: #50514fc9;
}

.blue-travel {
  background-color: #929490cb;
}

.yellow-event {
  background-color: #ffe066cc;
}

.yellow-travel {
  background-color: #ffeda3c2;
}








