.event {
  position: absolute;
  right: 5vw;
  width: 70%;
  border-radius: 0 0 14px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  p {
    font-family: 'Hind', sans-serif;
    margin: 0 16px;
    font-size: 14px;
  }
}

.travel_time {
  background-color: rgb(88, 196, 129);
  position: absolute;
  right: 5vw;
  width: 70%!important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  border-bottom: 1px solid rgba(102, 102, 102, 0.321);
}

.events-container {
  margin-top: 50px;
}

.green-event {
  background-color: white;
  border-left: 4px #A5D575 solid;
  color: black;
  .title_daily {
    background-color: #A5D575;
  }
}

.green-travel {
  background-color: rgb(252, 252, 252);
  border-left: 4px #A5D575 solid;
}

.red-event {
  background-color: white;
  border-left: 4px #e62f29d0 solid;
  color: black;
  .title_daily {
    background-color: #e62f29d0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }
}

.red-travel {
  background-color: rgb(252, 252, 252);
  border-left: 4px #e62f29d0 solid;
}

.orange-event {
  background-color: white;
  border-left: 4px #ff5e00d0 solid;
  color: black;
  .title_daily {
    background-color: #ff5e00d0;
  }
}

.orange-travel {
  background-color: rgb(252, 252, 252);
  border-left: 4px #ff5e00d0 solid;
}

.blue-event {
  background-color: white;
  border-left: 4px #0094FF solid;
  color: black;
  .title_daily {
    background-color: #0094FF;
  }
}

.blue-travel {
  background-color: rgb(252, 252, 252);
  border-left: 4px #0094FF solid;
}

.yellow-event {
  background-color: white;
  border-left: 4px #26547C solid;
  color: black;
  .title_daily {
    background-color: #26547C;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  }
}

.yellow-travel {
  background-color: rgb(252, 252, 252);
  border-left: 4px #26547C solid;
}

.title_daily {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0 16px;
  max-width: max-content;
}
