.header {
  display: flex;
  justify-content: space-between;
  margin: 8px 16px;
  font-family: 'Hind', sans-serif;
  position: relative;
  padding: 0;
  width: 90%;
  left: 3%;
}

.drop-down {
  position: absolute;
  top: 84%;
  right: -1%;
}
