.header {
  display: flex;
  justify-content: space-between;
  margin: 8px 16px;
  font-family: 'Hind', sans-serif;
  position: relative;
  padding: 0;
}

.drop-down {
  position: absolute;
  top: 50%;
  right: -1%;
}

.header > h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif; 
  color: grey;
}