.header {
  display: flex;
  justify-content: space-between;
  margin: 8px 16px;
  font-family: 'Hind', sans-serif;
  position: relative;
  padding: 0;
  width: 90%;
  left: 3%;
}

.header-monthly {
  margin-top: -20px;
  margin-left: 4vw;
  h1 {
    font-size: 26px;
  }
}

.drop-down-month {
  top: 80px;
  right: 3vw;
  position: absolute;
}

.drop-down {
  position: absolute;
  top: -14px;
  right: 1vw;
}

.daily-simple-calendar .calendar-heading {
  position: absolute;
}
