.modal-body {
  border-top: 2px solid #dee2e6;
  list-style-type: none;
}

.links {
  text-decoration: none;
  color: #0E0000;
  font-weight: lighter;
}

.links:hover {
   text-decoration: none!important;
}

.modal-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  }

  .modal-body {
    width: 100%;
  }

  .add-btn {
    border-radius: 20px;
  }

// .modal {
//   max-height: 80vh;
//   display: block;
//   padding-left: 0px;
// }

.modal-title {
  font-size: 12px;
  position: absolute;
  left: 34xp;
  right: 19px;
  top: 46px;
}

.day-monthly {
  font-size: 23px;
  font-weight: bold;
}

.month-monthly {
  font-size: 18px;
  position: relative;
}

.days-integer {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
