#new_event {
  margin-bottom: 100px;
  background-color: white
}

.create_event_button {
  position: fixed;
  z-index: 20;
  background-color: #AFE7AE;
  color: white;
  left: 184px;
  border-radius: 12px;
  bottom: 20px;
  width: 187px;
  height: 40px;
}