.table {
  height: 72.5vh;
  margin-top: 32px;
  margin-bottom: 92px;
  width: 100vw;
}

.simple-calendar {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.daily_table {
  border: 0 white !important;
}

.daily_day {
  position: absolute;
  top: 67px;
  border: 1px solid white;
  font-size: 32px;
  border: none !important;
  margin-left: 70px;
}

.daily-simple-calendar {
  margin-top: 30px;
  width: 100%;
  background-color: #FBFBFB;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.simple-calendar td {
  border: none!important;
}

.table-header {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1) !important;
  border-top: none !important;
}

.date-monthly-page {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.month-monthly-page {
  margin-bottom: -5px;
}

.monthly-table {
  box-shadow: -1px -1px 8px rgba(129, 129, 129, 0.1);
}

.days-integer:hover {
  font-size: 26px;
  text-decoration: none !important;
  transition-delay: 0.1s;
}