.table {
  height: 70vh;
  margin-top: 32px;
  margin-bottom: 92px;
  width: 100vw;
}

.simple-calendar {
  display: flex;
  justify-content: space-around;
}

.daily_table {
  border: 0 white !important;
}

.daily_day {
  position: absolute;
  top: 75px;
  border: 1px solid white;
  font-size: 32px;
  border: none !important;
  margin-left: 23vw;
}

.daily-simple-calendar {
  margin-top: 30px;
  width: 100%;
  background-color: #FBFBFB;
}

.simple-calendar td {
  border: none!important;
}
